jupyterlab                                                                                                           
jupyterlab_vim                                                                                                       
folium                                                                                                               
gpxpy 
ipywidgets
