jupyterlab                                                                                                           
jupyterlab_vim                                                                                                       
folium                                                                                                               
gpxpy 
ipywidgets
pillow
numpy
opencv-python
voila
